@charset "UTF-8";
* {
  font-family: "IBM Plex Sans JP", sans-serif;
}

.scrollable-element {
  overflow-y: auto; /* 縦方向のスクロールを許可 */
  max-height: 100vh; /* 最大高さをビューポートの高さに設定 */
}

.l-body {
  position: relative;
  background-color: #FFFDFA;
  overflow-x: hidden;
}
@media (max-width: 375px) {
  .l-body {
    min-width: 375px;
  }
}

.l-body.active {
  overflow: hidden;
}

.l-grid {
  display: grid;
  grid-template-columns: 81% 19%;
}
@media (max-width: 834px) {
  .l-grid {
    grid-template-columns: 100%;
  }
}

.l-main {
  background-color: #FFFDFA;
  position: relative;
  height: auto;
}

.l-main-visual {
  background-image: url(../../images/dummy-site.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 398px;
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 834px) {
  .l-main-visual {
    height: 285px;
  }
}

.l-main-visual_text {
  display: flex;
  color: #ffffff;
  font-weight: 700;
  font-size: 2em;
  margin-left: 4%;
  align-items: center;
}

.l-main__wrapper {
  grid-column: 1;
}

.l-archive__mv {
  position: relative;
  background-image: url(../../images/archive_mv.png);
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  height: 180px;
  color: #ffffff;
}
@media (max-width: 834px) {
  .l-archive__mv {
    min-height: 285px;
  }
}
.l-archive__mv h2 {
  margin: 5%;
  margin-right: 1%;
  font-size: 3em;
  z-index: 1000;
}
.l-archive__mv small {
  font-size: 50%;
  font-weight: bold;
  padding-top: 1%;
  z-index: 1000;
}

.l-archive__mv__shadow {
  background-color: #000000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
}

.l-single--mv {
  position: relative;
  background-image: url(../../images/burger.h1.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 398px;
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 375px) {
  .l-single--mv {
    max-height: 225px;
    justify-content: center;
  }
}

.l-single--mv__text {
  display: flex;
  color: #ffffff;
  font-weight: 700;
  font-size: 2em;
  margin-left: 4%;
  align-items: center;
}

.l-page--mv {
  position: relative;
  background-image: url(../../images/shop.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 398px;
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 375px) {
  .l-page--mv {
    max-height: 225px;
    justify-content: center;
  }
}

.l-page--mv__text {
  display: flex;
  color: #ffffff;
  font-weight: 700;
  font-size: 2em;
  margin-left: 4%;
  align-items: center;
}

.l-side-menu {
  grid-column: 2/3;
  display: block;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #F2EDE9;
  color: #707070;
}
@media (max-width: 834px) {
  .l-side-menu {
    grid-column: inherit;
    right: 0;
    transform: translateX(100%);
    overflow: hidden;
    height: 100%;
    width: 0;
    position: fixed;
    transition: all 0.3s ease;
    position: absolute;
  }
}
.l-side-menu__mobile__icon {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 10px;
  margin-left: auto;
}
.l-side-menu__mobile__icon::before, .l-side-menu__mobile__icon::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #707070;
  top: 50%;
  right: 0;
  transform-origin: center;
}
.l-side-menu__mobile__icon::before {
  transform: rotate(45deg);
}
.l-side-menu__mobile__icon::after {
  transform: rotate(-45deg);
}
.l-side-menu.active {
  padding-top: 0;
  display: block;
  width: 50vw;
  height: 100%;
  z-index: 10000;
  transform: translateX(0%);
  transition: 0.3s ease-in-out;
  position: fixed;
  right: 0;
  overflow-y: auto;
}
@media (max-width: 375px) {
  .l-side-menu.active {
    width: 90vw;
    min-width: 337px;
  }
}
.l-side-menu.active .l-side-menu__mobile__icon {
  display: block;
}
.l-side-menu.active .l-menu_title {
  display: none;
}
.l-side-menu.active .l-menu {
  grid-column: 2;
}
.l-side-menu.active .l-menu_subtitle {
  margin-top: 0;
}
.l-side-menu .inactive {
  height: 100%;
}

.l-menu_title {
  margin: 22% 12%;
  font-size: 1.5em;
  color: #707070;
}
@media (max-width: 834px) {
  .l-menu_title {
    display: none;
  }
}

.l-menu {
  list-style: none;
  text-decoration: none;
}
.l-menu li {
  list-style: none;
}

.l-menu_subtitle {
  margin: 6% 12%;
}
@media (max-width: 834px) {
  .l-menu_subtitle {
    margin-top: 60px;
  }
}

.l-menu_list {
  margin-left: 20%;
  line-height: 2.5em;
}

.l-side-menu__bg {
  background-color: #000;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}
.l-side-menu__bg.active {
  display: block;
  opacity: 0.5;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.l-text-aria {
  margin: 4% 6%;
}
.l-text-aria p {
  font-size: 0.8em;
}

.c-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 55px;
  width: auto;
  min-width: 345px;
  height: auto;
  min-height: 90px;
  border: solid black 1px;
  border-radius: 20px;
  background-color: #f2edec;
  background: linear-gradient(#ded8d3 100%);
  font-weight: bold;
}
@media (max-width: 375px) {
  .c-button {
    min-width: 90%;
  }
}
.c-button a {
  color: #3C2B1C;
}

.c-footer {
  display: flex;
  background-image: url(../../images/\ footer-blown.png);
  width: 100vw;
  height: 120px;
  justify-content: center;
  z-index: 4000;
}
@media (max-width: 834px) {
  .c-footer {
    width: 100%;
  }
}

.c-footer__text {
  display: block;
  color: #fff;
  margin: 2%;
}
@media (max-width: 834px) {
  .c-footer__text {
    margin: 3%;
  }
}
@media (max-width: 375px) {
  .c-footer__text {
    margin: 8%;
  }
}
.c-footer__text small {
  display: flex;
  justify-content: center;
  margin: 15%;
}
.c-footer__text a {
  color: #fff;
  text-decoration: none;
}

.c-header {
  display: flex;
  position: relative;
  align-items: center;
  height: 150px;
  background-color: #FFF7EF;
}
@media (max-width: 834px) {
  .c-header {
    width: 100%;
    height: 217px;
    flex-direction: column-reverse;
  }
}

.c-header__nav {
  height: 100%;
}

.c-header__title {
  display: flex;
  height: 100%;
  font-size: 3em;
  font-weight: 900;
  color: #707070;
  align-items: center;
  padding: 0% 15%;
}
@media (max-width: 834px) {
  .c-header__title {
    padding: 0 0 35%;
    font-size: xx-large;
  }
}

.c-header__mobilemenuIcon {
  display: none;
}
@media (max-width: 834px) {
  .c-header__mobilemenuIcon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 30px;
    margin-right: 20px;
    font-size: xx-large;
    color: #707070;
    font-weight: bold;
    cursor: pointer;
    z-index: 2000;
  }
}
@media (max-width: 375px) {
  .c-header__mobilemenuIcon {
    font-size: larger;
    margin-top: 10px;
    margin-right: 10px;
  }
}

.c-searchform {
  display: flex;
  height: 21%;
  /* margin: 4% 1% 0 auto; */
  width: 33%;
  position: absolute;
  right: 3%;
  font-size: 0.7em;
}
@media (max-width: 834px) {
  .c-searchform {
    width: 66%;
    height: 23%;
    right: 50%;
    margin-bottom: 30px;
    transform: translateX(50%);
  }
}
@media (max-width: 375px) {
  .c-searchform {
    width: 80%;
  }
}

.c-searchform__box {
  width: 270px;
  margin-right: 4%;
  padding-left: 10%;
  border: solid black 1px;
  border-radius: 6px;
  background-color: #ffffff;
}
@media (max-width: 834px) {
  .c-searchform__box {
    height: 90%;
    width: 70%;
  }
}

.c-searchform::after {
  background-image: url(../../../images/serch-icon.svg);
  background-size: contain;
  width: 25px;
  height: 25px;
  top: 10%;
  left: 1%;
  position: absolute;
  z-index: 5000;
  content: "";
  opacity: 0.8;
}
@media (max-width: 834px) {
  .c-searchform::after {
    width: 40px;
    height: 40px;
  }
}

.c-searchform__button {
  width: 30%;
  border: solid black 1px;
  border-radius: 6px;
  background-color: #f2edec;
  background: linear-gradient(#ded8d3 100%);
}
@media (max-width: 834px) {
  .c-searchform__button {
    height: 90%;
    width: 25%;
    font-size: 18px;
    padding-top: 4px;
  }
}
@media (max-width: 834px) {
  .c-searchform__button {
    width: 30%;
  }
}

.c-title {
  display: flex;
  color: #ffffff;
  font-size: 2.5em;
  margin-left: 2%;
  margin-top: 5%;
  line-height: 1;
}

.c-title ::after {
  border: solid 1px;
  color: #ffffff;
  width: 2%;
  height: 1px;
}

.c-strong {
  display: block;
  margin-left: 55px;
  margin-bottom: 200px;
}

.c-horizonline {
  position: relative;
  top: 0.5%;
}

.c-horizonline::after {
  position: absolute;
  display: flex;
  width: 40px;
  height: 1px;
  border: solid white;
  content: "";
  left: 20px;
  top: 30px;
}

.c-horizonline__large {
  position: relative;
}

.c-horizonline__large::after {
  position: absolute;
  display: flex;
  width: 40px;
  height: 1px;
  border: solid white;
  content: "";
  left: 70px;
}
@media (max-width: 834px) {
  .c-horizonline__large::after {
    width: 80px;
    bottom: 15px;
  }
}
@media (max-width: 375px) {
  .c-horizonline__large::after {
    bottom: 10px;
    left: 30px;
  }
}

.p-content--wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
}
@media screen and (max-width: 375px) {
  .p-content--wrapper {
    flex-direction: column;
  }
}

.p-content--TakeOut {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../../../images/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.png);
  background-size: cover;
  background-position: center;
  width: 40.5%;
  height: auto;
  min-height: 890px;
  margin-top: 6%;
  margin-left: 6%;
}
@media screen and (max-width: 834px) {
  .p-content--TakeOut {
    min-height: unset;
    height: 681px;
  }
}
@media screen and (max-width: 375px) {
  .p-content--TakeOut {
    width: 90%;
    margin-left: 20px;
  }
}

.p-content__item--wrapper {
  width: auto;
  height: auto;
}

.p-content__item {
  width: auto;
  height: auto;
  min-height: 145px;
  margin: 15px;
  background-color: #ffffff;
  opacity: 0.7;
}
@media screen and (max-width: 1000px) {
  .p-content__item {
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
.p-content__item p {
  font-size: 0.8em;
  margin: 0 0 0 3%;
  padding-right: 1%;
  padding-bottom: 10px;
}
.p-content__item h3 {
  margin-top: 2%;
  padding: 3% 0% 0% 4%;
  margin-bottom: 10px;
}

.p-content--EatIn {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-image: url(../../../images/burgers-and\ potates.png);
  background-size: cover;
  background-position: center;
  width: 40.5%;
  height: auto;
  min-height: 890px;
  margin-top: 6%;
  margin-right: 6%;
}
@media screen and (max-width: 834px) {
  .p-content--EatIn {
    min-height: unset;
    height: 681px;
  }
}
@media screen and (max-width: 375px) {
  .p-content--EatIn {
    width: 90%;
    margin-left: 20px;
  }
}

.p-map {
  background-image: url(../../../images/map.png);
  background-position: center;
  background-size: cover;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 650px;
  position: relative;
  margin-top: 6%;
}
@media screen and (max-width: 834px) {
  .p-map {
    min-height: unset;
  }
}
@media screen and (max-width: 375px) {
  .p-map {
    height: auto;
  }
}

.p-map__shadow {
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 1000;
}
@media screen and (max-width: 834px) {
  .p-map__shadow {
    min-height: unset;
  }
}
@media screen and (max-width: 375px) {
  .p-map__shadow {
    height: 100%;
    display: grid;
    grid-template-rows: 50% auto;
  }
}

.p-map__shadow--dark {
  background-position: center;
  /* position: absolute; */
  background: rgba(0, 0, 0, 0.5);
  width: 60%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 1000;
}
@media screen and (max-width: 834px) {
  .p-map__shadow--dark {
    min-height: unset;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
}
@media screen and (max-width: 375px) {
  .p-map__shadow--dark {
    height: 100%;
    padding-left: 30px;
  }
}
.p-map__shadow--dark h2 {
  color: #ffffff;
  margin: 10%;
  margin-bottom: 5%;
}
.p-map__shadow--dark p {
  color: #ffffff;
  font-size: 1rem;
  width: 70%;
  margin: 10%;
  line-height: 2em;
  word-wrap: break-word;
}
@media screen and (max-width: 834px) {
  .p-map__shadow--dark p {
    width: auto;
    margin: 5%;
    line-height: 2.5em;
  }
}
@media screen and (max-width: 375px) {
  .p-map__shadow--dark p {
    overflow: unset;
    font-size: small;
    line-height: 2.2em;
    width: 80%;
  }
}

.p-card {
  display: flex;
  position: relative;
  width: 88%;
  height: auto;
  min-height: 350px;
  margin: 3% 6%;
}
@media screen and (max-width: 375px) {
  .p-card {
    flex-direction: column;
    margin-right: 5%;
  }
}

.p-card__image {
  background-image: url(../../../images/repeat-grid.png);
  background-size: cover;
  width: auto;
  height: auto;
  left: 0;
  min-height: 350px;
  min-width: 50%;
  display: flex;
}
@media screen and (max-width: 375px) {
  .p-card__image {
    min-height: 285px;
  }
}
.p-card__image .p-card__image {
  min-height: 250px;
  min-width: 100%;
}

.p-card__brown {
  background-color: #3C2B1C;
  display: flex;
  color: white;
  /* justify-content: center; */
  min-height: 100%;
  width: 50%;
  right: 0;
}
@media screen and (max-width: 375px) {
  .p-card__brown {
    width: 100%;
    min-height: 350px;
  }
}
.p-card__brown h2 {
  margin: 35px;
}
@media (max-width: 834px) {
  .p-card__brown h2 {
    font-size: 1.2rem;
    margin-bottom: 25px;
  }
}
.p-card__brown h3 {
  margin: 0 0 10px 35px;
}
@media (max-width: 834px) {
  .p-card__brown h3 {
    margin-top: 20px;
    font-size: 1rem;
  }
}
.p-card__brown p {
  margin: 35px;
  margin-top: 0;
  font-size: 0.9rem;
}
@media (max-width: 834px) {
  .p-card__brown p {
    margin: 35px;
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5em;
  }
}

.p-card__brown__text {
  display: block;
}

.p-card__button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: auto;
  max-width: 270px;
  background-color: #ffffff;
  color: #707070;
  border-radius: 40px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media (max-width: 834px) {
  .p-card__button {
    height: 45px;
    max-width: 160px;
    font-weight: 900;
  }
}
.p-card__button a {
  text-decoration: none;
  list-style: none;
  color: #707070;
}

.p-pagenation--wrapper {
  display: flex;
  color: #707070;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
  margin-bottom: 60px;
}
@media screen and (max-width: 375px) {
  .p-pagenation--wrapper {
    display: none;
  }
  .p-pagenation--wrapper .p-pagenation__sp {
    display: flex;
    justify-content: space-between;
  }
}

.p-pagenation {
  display: flex;
  align-items: center;
}
.p-pagenation :first-child a span {
  background-color: #3C2B1C;
  color: #ffffff;
}

.p-pagenation__Item {
  display: flex;
  width: 40px;
  height: 30px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.p-pagenation__Item a {
  text-decoration: none;
  color: #707070;
}
.p-pagenation__Item span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border: solid 1px;
  margin-left: 5px;
}
@media screen and (max-width: 375px) {
  .p-pagenation__Item {
    display: none;
  }
}

.p-arrow {
  position: relative;
  display: inline-block;
  margin-left: 30px;
}

.p-arrow::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-top: -5px;
  border-top: solid 1px #707070;
  border-right: solid 1px #707070;
  transform: rotate(225deg);
  position: absolute;
  top: 33%;
  right: 0px;
}

.p-arrow::after {
  content: "";
  width: 10px;
  height: 10px;
  margin-top: -5px;
  border-top: solid 1px #707070;
  border-right: solid 1px #707070;
  transform: rotate(225deg);
  position: absolute;
  top: 33%;
  right: -5px;
}

.p-arrow__revers {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.p-arrow__revers::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-top: -5px;
  border-top: solid 1px #707070;
  border-right: solid 1px #707070;
  transform: rotate(45deg);
  position: absolute;
  top: 33%;
  right: 0px;
}
@media screen and (max-width: 375px) {
  .p-arrow__revers::before {
    right: 25px;
  }
}

.p-arrow__revers::after {
  content: "";
  width: 10px;
  height: 10px;
  margin-top: -5px;
  border-top: solid 1px #707070;
  border-right: solid 1px #707070;
  transform: rotate(45deg);
  position: absolute;
  top: 33%;
  right: -5px;
}
@media screen and (max-width: 375px) {
  .p-arrow__revers::after {
    right: 20px;
  }
}

.p-pagenation__sp {
  display: flex;
  justify-content: space-between; /* 両端いっぱいに配置 */
  align-items: center;
  width: 100%;
  margin: 40px 0 20px 0;
}
@media screen and (min-width: 376px) {
  .p-pagenation__sp {
    display: none;
  }
}
.p-pagenation__sp h4 {
  margin: 0 10px;
  font-weight: 100;
  margin-right: 25px;
}

.p-pagination-item {
  display: flex;
  align-items: center;
}

.p-headline--Wrapper {
  display: block;
}
.p-headline--Wrapper h2 {
  margin: 5%;
}
.p-headline--Wrapper p {
  margin: 5%;
}
.p-headline--Wrapper h3 {
  margin: 5%;
}
.p-headline--Wrapper h4 {
  margin: 5%;
}
.p-headline--Wrapper h5 {
  margin: 5%;
}
.p-headline--Wrapper h6 {
  margin: 5%;
}

.p-quote {
  background-color: #f5f5f5;
  background-size: contain;
  height: auto;
  width: 90%;
  font-size: 0.9em;
}
.p-quote p {
  margin: 25px;
}
.p-quote code pre {
  margin: 50px 0;
}

.p-quote--Wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-single-eyecatch--Wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.p-single-eyecatch {
  background-image: url(../../../images/other.png);
  background-size: cover;
  background-position: center;
  width: 90%;
  height: auto;
  min-height: 398px;
  margin: 55px;
}
@media screen and (max-width: 834px) {
  .p-single-eyecatch {
    min-height: 268px;
  }
}
@media screen and (max-width: 375px) {
  .p-single-eyecatch {
    max-width: 335px;
    max-height: 124px;
    min-height: 124px;
    margin: 30px 20px;
  }
}

.p-other--Wrapper {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 398px;
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 55px;
}
@media screen and (max-width: 834px) {
  .p-other--Wrapper {
    margin-right: 35px;
    margin-left: 35px;
  }
}
@media screen and (max-width: 375px) {
  .p-other--Wrapper {
    margin-left: 5%;
  }
}

.p-other {
  background-image: url(../../../images/other.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  min-width: auto;
  min-height: 260px;
}
@media screen and (max-width: 834px) {
  .p-other {
    min-height: 189px;
    height: 189px;
    margin: 0 20px 0 20px;
  }
}
@media screen and (max-width: 375px) {
  .p-other {
    max-width: 144px;
    max-height: 89px;
    min-height: unset;
    min-width: 144px;
    margin: 0;
  }
}

.p-other__Text {
  width: 60%;
  height: auto;
  min-width: 54%;
  margin-left: 40px;
  overflow: hidden;
}
@media screen and (max-width: 834px) {
  .p-other__Text {
    margin-left: 20px;
    height: 100%;
    height: 15em;
    -webkit-line-clamp: 15;
    line-height: 1.5em;
    height: 22.5em;
    overflow: hidden;
  }
}
@media screen and (max-width: 375px) {
  .p-other__Text {
    height: 9em;
    -webkit-line-clamp: 6;
    line-height: 1.5em;
    height: 9em;
    overflow: hidden;
  }
}
.p-other__Text p {
  font-size: 0.8em;
}
@media screen and (max-width: 834px) {
  .p-other__Text p {
    font-size: 1em;
    padding-right: 20px;
  }
}

.p-other__Text--Reverse {
  width: 60%;
  height: auto;
  min-width: 54%;
  margin-right: 40px;
  overflow: hidden;
}
@media screen and (max-width: 834px) {
  .p-other__Text--Reverse {
    margin-right: 20px;
    height: 100%;
    height: 15em;
    -webkit-line-clamp: 15;
    line-height: 1.5em;
    height: 22.5em;
    overflow: hidden;
  }
}
@media screen and (max-width: 375px) {
  .p-other__Text--Reverse {
    height: 9em;
    -webkit-line-clamp: 6;
    line-height: 1.5em;
    height: 9em;
    overflow: hidden;
  }
}
.p-other__Text--Reverse p {
  font-size: 0.8em;
}
@media screen and (max-width: 834px) {
  .p-other__Text--Reverse p {
    font-size: 1em;
    padding-left: 20px;
  }
}

.p-other--Img--Wrapper {
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
}

.p-other--Img {
  background-image: url(../../../images/other.png);
  background-size: cover;
  background-position: center;
  width: auto;
  height: auto;
  max-width: 425px;
  min-height: 260px;
  margin: auto;
  margin-bottom: 55px;
}
@media screen and (max-width: 834px) {
  .p-other--Img {
    max-width: 581px;
    max-height: 358px;
  }
}
@media screen and (max-width: 375px) {
  .p-other--Img {
    max-width: 267px;
    min-height: 166px;
  }
}

.p-other-Grid--Wrapper {
  display: block;
  margin-right: 100px;
  margin-left: 100px;
}
@media screen and (max-width: 1200px) {
  .p-other-Grid--Wrapper {
    margin-right: 40px;
    margin-left: 40px;
  }
}
@media screen and (max-width: 375px) {
  .p-other-Grid--Wrapper {
    margin-right: 5%;
    margin-left: 5%;
  }
}
.p-other-Grid--Wrapper .p-other-Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
@media screen and (max-width: 1200px) {
  .p-other-Grid--Wrapper .p-other-Grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (max-width: 375px) {
  .p-other-Grid--Wrapper .p-other-Grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
.p-other-Grid--Wrapper .p-other-Grid--Img {
  background-image: url(../../../images/other.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  min-width: auto;
  min-height: 257px;
  margin-top: 0;
}
@media screen and (max-width: 834px) {
  .p-other-Grid--Wrapper .p-other-Grid--Img {
    max-width: 350px;
    min-height: 208px;
  }
}

.p-list {
  margin: 55px;
}
.p-list ul {
  margin: 0.5em 0;
  padding-left: 40px;
  list-style-type: disc;
  list-style: none;
}
.p-list ol {
  margin: 1em 0;
  padding-left: 40px;
  list-style-type: decimal;
}

.p-list__ul {
  margin-top: 60px;
}

.p-table--Wrapper {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  margin-bottom: 55px;
  width: auto;
  min-width: 100%;
  height: auto;
}

.p-table {
  width: 90%;
  border-collapse: collapse;
}
.p-table tr td {
  height: 65px;
  width: 66%;
  border: solid black 1px;
  padding-left: 3%;
}
.p-table tr td:first-child {
  width: 33%;
}/*# sourceMappingURL=common.css.map */